<article>
  <h4>This template refers to class-binding</h4>

  <select #selection (change)="0">
    <option value="alert-success">Success</option>
    <option value="alert-warning">Warning</option>
    <option value="alert-danger">Danger!</option>
  </select>
  <br><br>

  <div class="alert alert-danger" role="alert" [style.display]="selection.value == 'alert-danger' ? 'block' : 'none'">
    This text is shown only when danger is selected
  </div>
  <br>
  <div class="alert" role="alert" [class.alert-success]="selection.value == 'alert-success'">Sucesso</div>
  <div class="alert" role="alert" [class.alert-warning]="selection.value == 'alert-warning'">Warning</div>
  <div class="alert" role="alert" [class.alert-danger]="selection.value == 'alert-danger'">Erro</div>
  <br>


</article>
