<p>output-property works!</p>

<div>
  <button class="btn btn-primary" (click)="decrements()">-</button>
  <input type="text" [value]="valor" readonly #campoInput>
  <button class="btn btn-primary" (click)="increments()">+</button>
</div>
