<section>
  <p>input-output works!</p>
  <!-- args: propriedade exposta do componente -->
  <app-input-property [argument]="foo"></app-input-property>

  <section>
    <!-- valor stático n precisa ser feito bind para input property -->
    <outputPropertyContador valorInicial='10' (valueChanged)="onValueChanging($event)">
    </outputPropertyContador>
    <strong>I'm on input-output component</strong>
    <p>Valor recebido por evento do outputPropertyContador component é: {{valueChangedFromOutputContador}} </p>
  </section>
</section>
