<section>
  <article>
    <h4>This template refers to Data-biding</h4>
    <div>
      <input type="text" value="{{name}}" (input)="name = $event.target.value" />

      <input type="text" [ngModel]="name" (ngModelChange)="name = $event" />
      <!-- Two way data biding -->
      <input type="text" [(ngModel)]="name" />
      <p>Você digitou {{name}}</p>
    </div>


    <br><br>
    <div>
      <p>{{chaves.bruxaDo71}}</p>
      <input #quico type="text"[(ngModel)]="chaves.quico" (input)="alterText(quico.value)"/>
      <input #chavinho type="text"[(ngModel)]="chaves.chaves" (input)="alterText(chavinho.value)"/>
      <p>Você digitou {{textoDoUsuario}}</p>
    </div>
  </article>
</section>
