<h4>This template refers to event-biding</h4>
<section>
  <article>
    <p>Press Enter in the end</p>
    <input #entrada type="text" (keyup)="onKeyUp($event)" (keyup.enter)="onEnterPressed(entrada.value)">
    <p>Valor Atual: {{valorAtual}}</p>

    <br><br>
    <span
      (mouseover)="boo()"
      (mouseout)="boo()"
      [class.highlight]="isOver"
      > Passe o mouse sobre mim</span>
      <br><br>
  </article>
</section>
